<footer>

    <div>
        <p>©HealthSecureOps</p>
    </div>

    <div>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-linkedin"></a>
    </div>
</footer>
</body>
</html>