<%- include('./partials/header.ejs')%>

<main>
    <div class="home-top-section">
        <h1>Welcome to HealthCareSecureOps!</h1>
        <h3>Please select an option to analyze threat assessments</h3>
        <div class="image-container">
            <div class="button-container">
                <a href="/information/loggedIncidents">Logged Incidents <i class='fa fa-arrow-right' style='font-size:20px'></i></a>
            </div>
            <div class="button-container">
                <a href="/information/currentThreats">Current Threats <i class='fa fa-arrow-right' style='font-size:20px'></i></a>
            </div>
            <div class="button-container">
                <a href="/information/reccomendedMeasures">Recommended Measures <i class='fa fa-arrow-right' style='font-size:20px'></i></a>
            </div>
            <div class="button-container">
                <a href="/information/checkCases">Check Cases <i class='fa fa-arrow-right' style='font-size:20px'></i></a>
            </div>
        </div>
    </div>

    <div class="home-content-section">
        <div class="content-information">
            <h4>Application Activity</h4>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
            <canvas id="myChart" style="width:100%;max-width:600px"></canvas>

            <script>
                const xValues = [100,200,300,400,500,600,700,800,900,1000];

                // Function to generate an array of random values between min and max
                function generateRandomData(count, min, max) {
                    return Array.from({ length: count }, () => Math.floor(Math.random() * (max - min + 1)) + min);
                }

                new Chart("myChart", {
                    type: "line",
                    data: {
                        labels: xValues,
                        datasets: [{ 
                            data: generateRandomData(xValues.length, 1, 8000),
                            borderColor: "red",
                            fill: false
                        }, { 
                            data: generateRandomData(xValues.length, 1, 8000),
                            borderColor: "green",
                            fill: false
                        }]
                    },
                    options: {
                        legend: { display: false }
                    }
                });

            </script>
        </div>

        <div class="content-information">
            <h4>Open Cases</h4>
            <% if (cases.length > 0) { %>
                <% for(let i = 0; i < Math.min(cases.length, 4); i++) { %>
                    <div class="case-homeInfo-container">
                        <div class="case-information"><%= cases[i].caseTitle %></div>
                        <div class="case-information"><%= cases[i].threatType %></div>
                    </div>
                <% } %>                
            <% } else { %>
                <p>No cases available</p>
            <% } %>            
        </div>
        
    </div>
</main>

<%- include('./partials/footer.ejs')%>