body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 90%; /* Adjust to take up more of the viewport */
    max-width: 600px; /* Restrict max-width for readability */
    height: auto; /* Allow height to adjust based on content */
}

h1, h2 {
    text-align: center;
}

.login-container img {
    display: block;
    margin: 0 auto 10px;
    max-width: 100%; /* Ensure image scales with the container */
    height: auto;
}

p {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-group label {
    width: 40%;
    text-align: left;
}

.form-group input {
    width: 55%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

.form-group input:focus {
    border-color: #007bff;
    outline: none;
}

.login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container input[type="submit"]:hover {
    background-color: #0056b3;
}
