<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to HealthCare SecureOps!</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <div class="login-container">
        <h1>Welcome to HealthCareSecureOps!</h1>
        <h2>Please select an option to analyze threat assessments</h2>
        <div class="image-container">
        <img src="https://as1.ftcdn.net/v2/jpg/05/14/36/48/1000_F_514364850_xLOQX6SOY2qcjAIcTowsi3xYvHmhmvs0.jpg" alt="HealthSecureOps Logo" width="150">
        </div>
        <!-- Will link to other pages when created-->
        <main>
            <div class = "body">
                <button onclick="location.href='/loggedIncidents'">Logged Incidents</button>
            </div>
            <div class = "body">
                <button onclick="location.href='/currentThreats'">Current Threats</button>
            </div>
            <div class = "body">
            <button onclick="location.href='/reccomendedMeasures'">Reccomended Measures</button>
            </div>
        </main>
    </div>
</body>